.folder {
  display: flex;
  flex-direction: row;
  padding: 2px;
  background-color: gray;
  :hover {
    cursor: pointer;
  }
}

.gap {
  width: 10px;
  background-color: transparent;
}

.open-close {
  width: 10px;
}

.project {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  :hover {
    cursor: pointer;
  }
}
